.icon {
    width: 40px;
}

.table {
    margin-top: 2;
    text-align: center;
    vertical-align: middle;
    border: 5px;
    table-layout: auto;
    
}

#aksi {
    flex-wrap: wrap;
}

#map {
    height: 100%;
}