@media screen and (min-width: 992px) {
    .nav-login {
      position: absolute;
      right: 15px;
    }
  }

/* navbar */
#icon {
    width: 40px;
}

#navbar {
    background-color: #85e626;
    font-family: Arial, Helvetica, sans-serif;
  }

#nav-id:hover {
    transform: scale(1.1);
}

#button {
    border-radius: 15px;
}

#button:hover {
    transform: scale(1.1);
}

/* Body */
body {
    background-color: #b1e98f;
    font-family: Arial, Helvetica, sans-serif;
}

/* data irigasi */
.table {
    margin-top: 2;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: black;
    text-align: center;
    vertical-align: middle;
    table-layout: auto;
    
}

/* tombol table */
#aksi {
    flex-wrap: wrap;
    margin: 3px;
}

/* peta */
#map {
    height: 100%;
}


/* form lapor */
#deskripsi {
    height: 150px;

}

/* modal */
#modal-login {
    text-align: center;
    background-color: #b1e98f;

}

.header-login {
    display: flex;
    justify-content: space-between;
}

/* berita */

#card-berita-home {
    overflow: hidden;
    margin: auto;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    max-height: 600px;
    border-radius: 25px;
    background-color: #69B69E;
    -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
	box-shadow: 0 1px 1px rgba(72,78,85,.6);
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
    
}

#card-berita-home:hover{
	-webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
	box-shadow: 0 20px 40px rgba(72,78,85,.6);
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	transform: translateY(-15px);
}

#berita {
    margin: 3px;
    text-align: center;
}

#img-berita-card {
    margin: 3px;
    width: auto;
    height: 250px;
    justify-content: center;
}

#img-berita {
    width: fit-content;
    height: fit-content;
}

article h2{
    margin-top: 15px;
}

article img {
    width: 250px;
    height: 250px;
}